<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>껄껄</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h2>커스텀 로그인 페이지</h2>

<div th:if="${param.error != null}">
    <h2>아이디, 패스워드가 올바르지 않습니다.</h2>
    <h2 th:value="${param.error}"></h2>
</div>

<div th:if="${param.logout != null}">
    <h2>로그아웃되었습니다.</h2>
</div>

<form method="post">
    <p>
        <label for="username">아이디</label>
        <input type="text" id="username" name="username" value="user88"/>
    </p>
    <p>
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" value="pw88"/>
    </p>
    <p>
        <label for="remember-me">자동 로그인</label>
        <input type="checkbox" id="remember-me" name="remember-me">
    </p>
<!--    CSRF를 방지하기 위해 토큰을 전송해서 서버와 같은 값일 때만 신뢰하기 위한 것-->
    <input type="hidden" th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"
    >
    <button type="submit" class="btn">Log in</button>
</form>

</body>

</html>