<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>껄껄</title>
    <meta charset="utf-8" />
</head>
<body>
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            <label>아이디</label>
            <input type="text" name="uid"	th:value="${member.uid}" readonly />
        </p>
        <p>
            <label>비밀번호</label>
            <input type="text" name="upw" th:value="${member.upw}" readonly />
        </p>
        <p>
            <label>이름</label>
            <input type="text" name="uname" th:value="${member.uname}" readonly />
        </p>

        <p>[[${member.roles}]]</p>

    </div>
</div>
</body>
</html>