<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">

<div layout:fragment="content">

    <div class="panel-heading">접근 권한이 없습니다.</div>
    <div class="panel-body">

        <div class='container'>

            <a th:href="@{/login}">여기</a>를 클릭하여 로그인하세요.


        </div>

    </div>

</div>
<!--  end fragment -->

<th:block layout:fragment="script">

    <script th:inline="javascript">

    </script>

</th:block>